<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.gamebackend.user.model.mapper.UserMapper">

    <select id="findByUserId">
        SELECT *
        FROM users
        WHERE user_id = #{userId};
    </select>

    <select id="findAllUsers">
        SELECT *
        FROM users
    </select>

    <update id="updateProfileImage">
        UPDATE users
        SET profile_image_url = #{profileImageUrl}
        WHERE user_id = #{userId}
    </update>

    <insert id="insertUser" parameterType="User" keyProperty="userId" keyColumn="user_id">
        INSERT INTO users(user_id, user_name, email, profile_image_url)
        VALUES (#{userId}, #{userName}, #{email}, #{profileImageUrl})
    </insert>

</mapper>
